/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    background-color: white;
    padding: 1%;
}
.logo{
    display: inline-block;
    height: 50px;
    vertical-align: middle;
}
.logo-text{
    font-size: 50px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}

/* Main */

main{
    background-color: white;
    margin: 3% 10%;
    border-radius: 3px;
}
.buttons-section{
    padding: 1% 3%;
    border-bottom: 1px solid lightgray;
}
.button{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 3px 9px;
    border-radius: 3px;
    text-decoration-line: none;
}
.bg-cyan{
    background-color: #47adf1;
    border: 1px solid #47adf1;
    color: white;
}
.bg-white{
    background-color: white;
    border: 1px solid lightgray;
    color: lightgray;
}
ul{
    list-style-type: none;
}
li{
    margin-bottom: 1%;
}
.list-section{
    padding: 3%;
}
.list-tasks{
    font-size: 20px;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 1%;
}
.list-todo{
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 20px;
    font-weight: normal;
}
.circle{
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    line-height: 17px;
    width: 17px;
    vertical-align:top;
}
.check{
    display: inline-block;
    color: green;
    border-color: green;
    font-size: 10px;
}
.cross{
    display: inline-block;
    color: red;
    border-color: red;
    font-size: 10px;
}
.task{
    width:fit-content;
    height: fit-content;
    text-align: center;
    font-size: 17px;
    vertical-align: middle;
}
.activity-bg{
    display: inline-block;
    vertical-align: top;
    width: fit-content;
    height: fit-content;
    padding: 3px 9px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    text-decoration-line: none;
}
.editorial{
    background-color: #45abea;
}
.q1goals{
    background-color: #9c72e4;
}
.recruiting{
    background-color: #64c0a9;
}
.mobile{
    background-color: #f29e33;
}
.website{
    background-color: #d863a1;
}
.sales{
    background-color: #b3cb2d;
}
